
<%- include("partials/header") %>

<img class="img" src ="<%= cover %>" alt="<%= title %>">
        <h2><%= title %></h2>
        <small><%= date %></small>
        <br>
        <small>  <%= recommendation%></small>
        <h4 class="">Read My Notes</h4>
        <p><%= Isbn %></p>

    
        <p> <%= content%></p> 


        <%- include("partials/footer") -%>
